@layer components {
  .proofread-text-view {
    container-type: inline-size;
    border: 1px solid var(--color-border);
    border-radius: var(--radius);
    padding: var(--space-2);
    min-height: 6lh;

    & .proofread-text-view-text {
      white-space: pre-wrap;
    }
  }
}
