@layer components {
  .app-header {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    padding: var(--space-1) var(--space-2);
    border-bottom: 1px solid var(--color-border);

    & .connection-status {
      margin-inline-start: auto;
    }
  }
}
